<h1>Show</h1>
<div>
  <%= @user.name %>
</div>

<div class="container">
  <div class="row">
    <% @user.attended_events do |e| %>
      <%= e.description %>
    <% end %>
  </div>
</div>

<h2>Upcoming events</h2>

<% @upcoming_events.each do |u| %>
  <p><%= u.name %></p>
<% end %>

<h2>Previously events</h2>

<% @previous_events.each do |u| %>
  <p><%= u.name %></p>
<% end %>
