<% if session[:name] %>
  <div class="container">
    <header>
      <ul class="nav justify-content-center">
        <li class="nav-item pr-3"><%= link_to 'Events', events_path %></li>
        <li class="nav-item pr-3"><%= link_to 'My Events', user_path(session[:id]) %></li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item"></li>
        <li class="nav-item"><%= link_to 'Create Event', new_event_path %></li>
        <% if session[:name] %>
          <li class="nav-item pl-3"><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li class="nav-item"><a href="">Login</a></li>
        <% end %>
      </ul>
    </header>
  </div>
<% end %>