  <table class="table table-striped border">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">Creator</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= events_list(events) %>
    </tbody>
  </table>