<div class="border backgroundWhite">
  <div class="row">
        <div class="col-6">
            <h2 class="text-info">Event List</h2>
        </div>
    </div>
    <br />
<div>
<table class="table table-striped border">
  <tr>
      <th class="table-secondary">
          Name
      </th>
      <th class="table-secondary">Description</th>
      <th class="table-secondary">Date</th>
      <th class="table-secondary">Creator</th>
  </tr>
  <% @events.each do |e| %>
    <td class="col">
      <%= e.name %>
    </td>
    <td class="col">
      <%= e.description %>
    </td>
    <td class="col">
      <%= e.date %>
    </td>
    <td class="col">
      <%= e.creator_name %>
    </td>
  <% end %>
</table>